* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: url("./images/bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed; /* 백그라운드를 fixed 하고 싶을 때*/
}

.logo {
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 40px;
  /* border: 1px solid black; */
}
.overwatch__wrapper {
  max-width: 900px;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.background {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  overflow: hidden;
  border-radius: 10%;
  margin: 5px;
  background-color: #555;
  transition: all 0.1s;
  transform: skewX(-14deg);
}

.overwatch__character {
  width: 100%;
  height: 100%;
  background: url("./images/hero1.png") no-repeat center;
  background-size: 100px 100px;
  /* background에서 -14도 기울였으니 반대로 14도 기울어야 바로 선다 */
  transform: skewX(14deg);
}

.background:hover {
  background-color: orange;
  transform: skewX(-14deg) scale(1.3);
  transition: transform 0.1s, background-color 0.6s;
  z-index: 1;
}

.b {
  background: url("./images/hero2.png") no-repeat center;
  background-size: 100px 100px;
}
.c {
  background: url("./images/hero3.png") no-repeat center;
  background-size: 100px 100px;
}
.d {
  background: url("./images/hero4.png") no-repeat center;
  background-size: 100px 100px;
}
.e {
  background: url("./images/hero5.png") no-repeat center;
  background-size: 100px 100px;
}
.f {
  background: url("./images/hero6.png") no-repeat center;
  background-size: 100px 100px;
}
.g {
  background: url("./images/hero7.png") no-repeat center;
  background-size: 100px 100px;
}
.h {
  background: url("./images/hero8.png") no-repeat center;
  background-size: 100px 100px;
}
.i {
  background: url("./images/hero9.png") no-repeat center;
  background-size: 100px 100px;
}
.j {
  background: url("./images/hero10.png") no-repeat center;
  background-size: 100px 100px;
}
.k {
  background: url("./images/hero11.png") no-repeat center;
  background-size: 100px 100px;
}
.l {
  background: url("./images/hero12.png") no-repeat center;
  background-size: 100px 100px;
}
.n {
  background: url("./images/hero13.png") no-repeat center;
  background-size: 100px 100px;
}
.m {
  background: url("./images/hero32.png") no-repeat center;
  background-size: 100px 100px;
}
.o {
  background: url("./images/hero14.png") no-repeat center;
  background-size: 100px 100px;
}
.p {
  background: url("./images/hero15.png") no-repeat center;
  background-size: 100px 100px;
}
.q {
  background: url("./images/hero16.png") no-repeat center;
  background-size: 100px 100px;
}
.r {
  background: url("./images/hero17.png") no-repeat center;
  background-size: 100px 100px;
}
.s {
  background: url("./images/hero18.png") no-repeat center;
  background-size: 100px 100px;
}
.t {
  background: url("./images/hero19.png") no-repeat center;
  background-size: 100px 100px;
}
.u {
  background: url("./images/hero20.png") no-repeat center;
  background-size: 100px 100px;
}
.v {
  background: url("./images/hero21.png") no-repeat center;
  background-size: 100px 100px;
}
.w {
  background: url("./images/hero22.png") no-repeat center;
  background-size: 100px 100px;
}
.x {
  background: url("./images/hero23.png") no-repeat center;
  background-size: 100px 100px;
}
.y {
  background: url("./images/hero24.png") no-repeat center;
  background-size: 100px 100px;
}
.z {
  background: url("./images/hero25.png") no-repeat center;
  background-size: 100px 100px;
}
.aa {
  background: url("./images/hero26.png") no-repeat center;
  background-size: 100px 100px;
}
.bb {
  background: url("./images/hero27.png") no-repeat center;
  background-size: 100px 100px;
}
.cc {
  background: url("./images/hero28.png") no-repeat center;
  background-size: 100px 100px;
}
.dd {
  background: url("./images/hero29.png") no-repeat center;
  background-size: 100px 100px;
}
.ee {
  background: url("./images/hero30.png") no-repeat center;
  background-size: 100px 100px;
}
.ff {
  background: url("./images/hero31.png") no-repeat center;
  background-size: 100px 100px;
}
